<li id="share_<%= share.id %>" class="list-group-item">
  <%= fa_icon('share-alt') %> Shared with
  <strong><%= share.shared_to.name %></strong>
  <% if current_user && share.resource.editable_by?(current_user) %>
    <%= link_to fa_icon('trash'), shareable_path(share), method: :delete, remote: true, class: 'pull-right' %>

    <%= simple_form_for share, url: shareable_path(share), as: :shareable, remote: true do |f| %>
      <%= f.input :edit, as: :boolean, label: 'can edit', input_html: { :onchange => "$(this.form).submit();", id: "shareable_edit_#{f.object.id}" } %>
    <% end %>
  <% end %>
</li>